@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center font-borel">
    <br>
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! & Hello ASP.NET,
        <br />The time on the server is <span class="text-info"> @DateTime.Now </span> , now that you're here.
        <br />let me the "time butler" serve you the time.
    </p>
</div>

<div class="container-fluid bg-prima ry p-2 shadow rounded">
    <div class="row">

        <div class=" col-6">
            <img class="rounded " src="~/background.jfif" width="100%" alt="butler-background">
        </div>


        <div class=" col-6">

            <div class="col">
                <div class="row-6 rounded">
                    <div class="clock-container  rounded p-2 " align="center">

                        <div class="bg-text p-2 rounded w-100 shadow">
                            <link rel="stylesheet" href="~/css/uptime.css">
                            <svg class="clock rounded p-2 bg-primary shadow" viewBox="0 0 100 100">
                                <defs>
                                    <path id="path" d="M50,12a38,38 0 1,1 0,76a38,38 0 1,1 0,-76" />
                                </defs>
                                <path class="hand hours" d="M50 25 V50" />
                                <path class="hand minutes" d="M50 14 V50" />
                                <path class="hand seconds" d="M50 3 V50" />
                                <text class="hour-marks" font-size="5" font-family="sans-serif" letter-spacing="-0.4"
                                    text-anchor="middle" />
                                <g class="second-marks" />
                                <g class="minute-marks" />
                            </svg>

                            <script src="~/js/uptime.js"></script>
                        </div>
                    </div>

                </div>

                <div class="row-6 rounded bg-primary">
                    <div class="digital-clock">
                        <link rel="stylesheet" type="text/css" href="~/css/styles.css">
                        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
                        <div class="wrapper">
                            <div class="numbers">
                                <div class="number num-hour">

                                    <div class="digit digit1">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                    <div class="digit digit2">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>

                                </div>

                                <span class="colon colon-minute">:</span>

                                <div class="number num-minute">
                                    <div class="digit digit1">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                    <div class="digit digit2">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                </div>

                                <span class="colon colon-second">:</span>

                                <div class="number num-second">
                                    <div class="digit digit1">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                    <div class="digit digit2">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>
                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="footer-wrapper">
                                <div class="footer footer_number1">
                                    <span>12h</span>
                                    <input type="checkbox" class="toggle-12-24" id="switch1">
                                    <label for="switch1"></label>
                                    <span>24h</span>
                                </div>
                                <div class="footer footer_number2">

                                </div>
                                <div class="footer footer_number3">
                                    <span>Off</span>
                                    <input type="checkbox" checked="checked" class="toggle-second" id="switch3">
                                    <label for="switch3"></label>
                                    <span>On</span>
                                </div>
                            </div>

                        </div>

                        <div class="ampm-wrapper">
                            <span class="ampm"></span>
                        </div>

                        <script src="~/js/script.js"></script>

                    </div>
                </div>
            </div>

        </div>


    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-1">1</div>
        <div class="col-md-1">2</div>

        <div class="col-md-1">3</div>
        <div class="col-md-1">4</div>

        <div class="col-md-1">5</div>
        <div class="col-md-1">6</div>

        <div class="col-md-1">7</div>
        <div class="col-md-1">8</div>

        <div class="col-md-1">9</div>
        <div class="col-md-1">10</div>

        <div class="col-md-1">11</div>
        <div class="col-md-1">12</div>



    </div>
    <hr />
    <div class="row">
        <div class="col-md-8 border">1-8</div>
        <div class="col-md-4 border">9-12</div>
    </div>
    <div class="row">
        <div class="col-md-4 border">1-4</div>
        <div class="col-md-4 border">5-8</div>
        <div class="col-md-4 border">9-12</div>
    </div>
    <div class="row">
        <div class="col-md-6 border">1-6</div>
        <div class="col-md-6 border">7-12 -bbbbb</div>
    </div>
</div>
