@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center font-borel">
    <br>
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! & Hello ASP.NET,
        <br />The time on the server is @DateTime.Now , now that you're here.
        <br />let me the "time butler" serve you the time.
    </p>
</div>

<div class="container">
    <div class="bg-prima ry p-2 shadow rounded">
        <img class="rounded m-2" src="~/background.jfif" width="720" alt="butler-background">
      

    </div>

</div>

