@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center font-borel">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! & Hello ASP, <br/>The time on the server is @DateTime.Now.</p>
</div>
<hr>

<footer>
    <div class="text-center font-butler">
        https://www.dafont.com/apc/1228815.png
        https://fabiandesmet.com/
        https://www.dafont.com/butler.font
    </div>
</footer>
