@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center font-borel">
    <br>
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! & Hello ASP.NET, 
        <br />The time on the server is @DateTime.Now , now that we're here.
        <br />lets have the "time butler" serve us the time.     
    </p>
</div>

<div class="container">
    <div class="bg-primary">
        <img src="~/background.jfif" width="720" alt="butler-background">
        
    </div>
        <div class="col-8">
        <img src="~/background.jfif" width="720" alt="butler-background">
        
    </div>
</div>

