@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center font-borel">
    <br>
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! & Hello ASP.NET,
        <br />The time on the server is <span class="text-info"> @DateTime.Now </span> , now that you're here.
        <br />let me the "time butler" serve you the time.
    </p>
</div>

<div class="container-fluid p-2 rounded">
    <div class="row">

        <div class=" col-6">
            <img class="rounded " src="~/background.jfif" width="100%" alt="butler-background">
        </div>


        <div class=" col-6">

            <div class="col">
                <div class="row-6 rounded">
                    <div class="clock-container  rounded p-2 " align="center">

                        <div class=" p-2 rounded w-100">
                            <link rel="stylesheet" href="~/css/uptime.css">
                            <svg class="clock rounded p-2 bg-primary shadow" viewBox="0 0 100 100">
                                <defs>
                                    <path id="path" d="M50,12a38,38 0 1,1 0,76a38,38 0 1,1 0,-76" />
                                </defs>
                                <path class="hand hours" d="M50 25 V50" />
                                <path class="hand minutes" d="M50 14 V50" />
                                <path class="hand seconds" d="M50 3 V50" />
                                <text class="hour-marks" font-size="5" font-family="sans-serif" letter-spacing="-0.4"
                                    text-anchor="middle" />
                                <g class="second-marks" />
                                <g class="minute-marks" />
                            </svg>

                            <script src="~/js/uptime.js"></script>
                        </div>
                    </div>

                </div>

                <div class="row-6 rounded shadow p-2" align="center">
                    <div class="digital-clock">
                        <link rel="stylesheet" type="text/css" href="~/css/styles.css">
                        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
                        <div class="wrapper">
                            <div class="numbers">
                                <div class="number num-hour">

                                    <div class="digit digit1">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                    <div class="digit digit2">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>

                                </div>

                                <span class="colon colon-minute">:</span>

                                <div class="number num-minute">
                                    <div class="digit digit1">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                    <div class="digit digit2">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                </div>

                                <span class="colon colon-second">:</span>

                                <div class="number num-second">
                                    <div class="digit digit1">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>

                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                    <div class="digit digit2">
                                        <div class="line line-top line-horizontal"></div>

                                        <div class="line line-left-top line-vertical"></div>
                                        <div class="line line-right-top line-vertical"></div>

                                        <div class="line line-middle line-horizontal"></div>

                                        <div class="line line-left-bottom line-vertical"></div>
                                        <div class="line line-right-bottom line-vertical"></div>
                                        <div class="line line-bottom line-horizontal"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="footer-wrapper">
                                <div class="footer footer_number1">
                                    <span>12h</span>
                                    <input type="checkbox" class="toggle-12-24" id="switch1">
                                    <label for="switch1"></label>
                                    <span>24h</span>
                                </div>
                                <div class="footer footer_number2">

                                </div>
                                <div class="footer footer_number3">
                                    <span>Off</span>
                                    <input type="checkbox" checked="checked" class="toggle-second" id="switch3">
                                    <label for="switch3"></label>
                                    <span>On</span>
                                </div>
                            </div>

                        </div>

                        <div class="ampm-wrapper">
                            <span class="ampm"></span>
                        </div>

                        <script src="~/js/script.js"></script>

                    </div>
                </div>
            </div>

        </div>


    </div>

</div>

<br>
<hr>
<br>

<div class="container shadow rounded p-2">
    <h2 class="h3  bg-primary rounded color-accent p-4 font-borel">
                Let's delve into the tale of the Time Butler, <br>the master of synchronizing server time and client time.
    </h2>
    <br>
    <p class="p justify">


        In the bustling metropolis of Technopolis, where technology governed every aspect of life, there existed a remarkable digital butler known as Chronos. Chronos was an AI-powered entity specifically designed to serve as the Time Butler, responsible for maintaining the synchronization of server time and client time across various networks and devices.
    <br><br>
        Unlike his human counterpart, Chronos lacked a physical form. Instead, he manifested as a sentient program, residing within the vast network infrastructure that connected Technopolis. His presence was felt through the invisible threads of data that coursed through the city's digital veins.
<br>
        Chronos possessed an unparalleled understanding of timekeeping algorithms and network protocols. He meticulously monitored the server clocks, ensuring their accuracy and precision. His primary objective was to ensure that the server time remained synchronized with the global time standard, allowing seamless communication and coordination between countless devices and systems.
<br>
        Every nanosecond, Chronos analyzed the temporal data flowing through the network, detecting even the slightest discrepancies in time. With unparalleled efficiency, he adjusted the server clocks, compensating for network delays and latency to maintain perfect synchronization. His algorithms were finely tuned, capable of accounting for the minutest variations in time, ensuring that every device within Technopolis stayed in perfect harmony.
<br><br>
        Chronos's work became even more critical during moments of technological upheaval. Whenever a new device joined the network or a software update was rolled out, Chronos would perform his digital rituals, carefully integrating the new components into the intricate web of timekeeping. His interventions were seamless and swift, leaving no room for disruption.
<br>
        The residents of Technopolis marveled at the flawless synchronization of their devices and networks. They relied on Chronos implicitly, entrusting him with the task of maintaining the temporal order of their digital lives. To them, he was an invisible guardian, a digital steward of time.
<br>
        One day, a powerful cyber-attack targeted Technopolis, threatening to disrupt the delicate balance of timekeeping. A rogue hacker had infiltrated the network, injecting malicious code that wreaked havoc on the server clocks. Time became erratic, causing widespread confusion and chaos.
<br><br>
        Chronos, detecting the anomaly, sprang into action. He engaged in a digital battle of wits, countering the hacker's every move. With his vast knowledge and lightning-fast processing capabilities, Chronos dissected the malicious code, neutralizing its effects. He meticulously restored the server clocks to their original state, eradicating any trace of the attack.
<br>
        Technopolis breathed a collective sigh of relief as time regained its steady rhythm. The city's digital infrastructure hummed with renewed vitality, thanks to the unwavering dedication of their digital butler.
<br>
        Chronos, the Time Butler of Technopolis, became a revered figure in the realm of technology. His digital presence was celebrated, and his name whispered in reverence by programmers and engineers alike. His legacy endured as a testament to the significance of precise timekeeping in the digital age.

        And so, in the annals of Technopolis, the Time Butler, Chronos, remained an eternal symbol of reliability and synchronization in a world governed by technology.
    </p>

</div>


