@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="font-borel text-bold">@ViewData["Title"]</h1>


<div class="accordion" id="accordion-lorem300">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Checking out the `Butler` font on a text body
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-lorem300">
      <div class="accordion-body">
        <p>
            This is a lorem-300 text body.
            <hr>
            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, at ipsam. Suscipit, nisi corrupti. Voluptatem quo cumque autem! Iure itaque eius asperiores similique quisquam id voluptatum mollitia! Nam exercitationem eius cupiditate veritatis sunt, accusantium consequuntur ex, quam quis error consectetur, nisi enim consequatur nobis? Officiis eaque aut quisquam neque, odit id consequuntur officia porro autem dolor nemo. Delectus voluptas explicabo soluta, deserunt mollitia corporis corrupti voluptate itaque. In nobis aliquid repellat ad voluptatum quia eveniet quis dolorem repellendus. 
            </p>
            
            <p>
            Molestiae possimus enim, vel, dolore aliquid dolores quos suscipit corrupti saepe libero accusantium impedit voluptatum consequatur in hic autem corporis iusto, facilis non reprehenderit! Commodi, cum! Unde doloribus aliquid consequuntur qui reprehenderit est veritatis ducimus dolorem similique nostrum possimus, dolores deleniti exercitationem provident, assumenda, cum ad et? Optio eius saepe, molestias incidunt distinctio temporibus vel rerum accusantium tempore molestiae id quod corrupti odio dolor officiis reiciendis itaque. Sint, quasi. Placeat alias dolore autem, quasi iusto iure, deserunt praesentium repellat quos, minima voluptas?
            </p>
            
            <p>
             Sit sed consequatur delectus optio tempore molestias perspiciatis provident enim! Quasi, temporibus labore. Ab dolore voluptatum eos, delectus iste voluptas cumque impedit error? Quae provident possimus doloribus, beatae sunt consectetur tempore tenetur id porro, reprehenderit optio tempora cumque et vitae explicabo temporibus, praesentium repellat exercitationem. Sequi assumenda nihil maiores et. Ipsum tenetur voluptate, magni aliquid laudantium aut minima eum porro ratione maiores iusto? Quibusdam possimus esse tempora eum id, ex consequuntur dicta, sequi reiciendis ipsum eaque aspernatur perferendis doloribus autem. 
             </p>
             
             <p>
             Cupiditate ratione ipsum nisi ducimus dolorum possimus eligendi ad reprehenderit, architecto aut harum reiciendis dolores voluptatum magnam quibusdam quas impedit. Vero at qui id quam? Animi tenetur fugit incidunt explicabo quas ex sapiente, quos, recusandae cum perferendis similique ut suscipit quae et, ducimus at impedit itaque illum architecto. Obcaecati unde labore voluptatum harum quisquam reiciendis dolore totam officiis quod magnam.
             <p>
        </p>
      </div>
    </div>
  </div>
  
</div>

<div class="accordion" id="accordion-lorem-1000">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Welp, nothing else goin on here.
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-lorem-1000">
      <div class="accordion-body">
        This is a strain test on cramped lorem1000 text
        <hr>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo rerum officiis recusandae veniam! Sed repudiandae vero, maxime consequatur consectetur id ex quidem quas facere excepturi exercitationem ullam incidunt, eum magni dignissimos dolorum fuga distinctio reiciendis accusamus! Temporibus molestias nobis harum assumenda eum quas quaerat exercitationem maxime veniam! Animi accusamus repellat saepe eum praesentium consequuntur nam dolore temporibus exercitationem adipisci, pariatur quidem fugit non delectus reprehenderit, dicta doloremque alias ipsum ea cupiditate ducimus assumenda aperiam inventore quod. Magnam officia repellendus nostrum, totam illo ipsum? Animi, voluptatum dolor enim voluptas, cum velit facilis delectus magnam reiciendis quibusdam odio numquam soluta non blanditiis ex perspiciatis quasi molestiae minima earum, corporis eveniet quidem veritatis? Optio quam reprehenderit dignissimos sunt doloribus quisquam, neque, error nemo qui accusantium provident assumenda cum unde eligendi fugiat perspiciatis laboriosam sapiente beatae labore vel dolor. Ipsam aliquid esse beatae vero iure unde laborum illum modi suscipit eos voluptas dolor vitae nesciunt temporibus assumenda aliquam excepturi officiis delectus alias, possimus rem veniam. Placeat culpa ad nostrum, magnam voluptates eius quo nihil nulla dicta velit nesciunt, numquam ducimus ab reprehenderit iure praesentium. Culpa quod quaerat velit enim, molestiae animi dolores modi doloremque eius nesciunt repellat officia quo id commodi ab, adipisci ullam nihil suscipit! Repudiandae laboriosam ex totam dolore esse officiis optio consectetur debitis corporis cupiditate illum voluptatem, cumque accusamus voluptas et assumenda nihil. Porro voluptatem qui suscipit nulla! Corrupti laborum ipsam quia eum rem fugiat omnis voluptatum quisquam eligendi facere, laboriosam obcaecati tempora, dolores rerum ut excepturi. Saepe, consequuntur. Placeat similique numquam odio praesentium eius, deleniti blanditiis totam ullam inventore soluta accusantium minus temporibus nihil quaerat dolores ratione laboriosam exercitationem vitae reiciendis! Necessitatibus alias eius cupiditate rerum qui excepturi maxime obcaecati accusantium modi magni nam natus, expedita iste amet fuga? Ipsum aperiam, vel, obcaecati illum ipsam laboriosam sapiente incidunt consequatur officia tempore dicta? Sequi doloribus deserunt ullam aspernatur, iure saepe, modi fuga laudantium nulla earum nisi quae. Alias amet repellendus et aliquam est libero minus distinctio quibusdam cum laudantium labore cupiditate incidunt pariatur dolor, fuga quam maiores facere quis deleniti eum sequi. Eius incidunt velit ipsam quod pariatur debitis fugiat in, molestiae nemo! Veniam enim, iure quasi, nihil eius expedita iste possimus dolores dignissimos illum excepturi odio quo facilis perferendis maxime accusantium repellat. Dicta aliquid accusantium saepe amet voluptatum dolor voluptate necessitatibus eum quos, ratione corporis harum incidunt blanditiis obcaecati, sed iste sit fugiat tempora magni quidem facere. Perferendis, inventore illum doloribus sit facilis, aut quam sint quas eligendi voluptatum corrupti neque voluptates animi optio quo provident iste ad illo labore vero, voluptatibus eius nihil! Sint libero iusto reiciendis ut excepturi, aliquam voluptates, vitae quae aspernatur cupiditate dolore consequatur officia? Iusto soluta explicabo cumque tempora, laborum asperiores vitae non autem. Totam sint nobis molestias autem nihil quam expedita labore. Reiciendis, ullam atque? Natus quo iste nesciunt nulla, nemo dolor quas ad repellat? Hic cupiditate quidem, quas asperiores, reiciendis recusandae minus officia saepe, aperiam iste accusantium vero cumque voluptates reprehenderit odio earum sapiente. Porro incidunt fuga dolore cumque aspernatur, ipsum inventore neque doloremque sed facilis cupiditate cum impedit soluta architecto veritatis eius iure enim magnam nihil. Quae maiores possimus totam, commodi aut quaerat delectus explicabo consequatur iusto nesciunt officia assumenda, temporibus odit natus hic. Dolor inventore corporis perferendis quo alias delectus officia voluptatibus unde quae velit, cum nesciunt aliquam! Non omnis ipsum animi eveniet error quos sit! Voluptatibus accusamus totam nobis accusantium eligendi quaerat iusto nesciunt sapiente voluptate at ipsum nihil, dignissimos error et quod dolorem eius itaque minus vero repellendus suscipit id eum. Itaque voluptas quia praesentium dolore deserunt rem animi neque totam libero ullam, recusandae doloremque id optio nulla minima labore nesciunt facilis, soluta laborum. Cupiditate quo non ipsum enim praesentium? Dolorum maiores autem, unde possimus mollitia animi saepe distinctio esse nisi facilis voluptate eius ad id, illum dignissimos natus rerum nihil ullam perferendis voluptatem reprehenderit non! Culpa, voluptatum rem temporibus, ab tenetur consequuntur voluptas blanditiis voluptatem dolore commodi consectetur! Repellendus, magnam corporis. Voluptatem ex dolore quo ad eligendi porro in ipsa assumenda deserunt. Autem veniam nesciunt magnam neque saepe eius illo sapiente delectus. Doloremque iste suscipit molestiae illo nesciunt quam recusandae voluptatem, tempora voluptatum laudantium, qui quisquam commodi ipsam asperiores unde ducimus inventore atque voluptates animi quas! Ea, magnam iste quis rem nulla quae culpa harum nam obcaecati doloremque nesciunt distinctio, voluptas facilis repellat facere molestiae laudantium nemo hic? Esse magnam itaque laudantium dolorem nulla, quasi exercitationem iste dolorum facilis explicabo ea. Nobis, consequuntur? Ut neque nobis enim id dolores, maxime suscipit cum. Quisquam dolorem officia sequi quae voluptates commodi expedita modi similique sed odio, ad, eveniet voluptas minus dolorum, aspernatur corrupti assumenda vero voluptatum sint sit magni natus eligendi ea dolor! Earum non neque exercitationem harum culpa id expedita, molestiae optio, dicta quasi eaque error ipsam nobis, inventore magnam? Tenetur consequatur repudiandae explicabo at dolorem provident harum excepturi praesentium voluptatem quis? Distinctio placeat natus minus praesentium enim pariatur modi! Consequatur eaque aliquid dolore at, possimus excepturi ea alias quasi, ipsum debitis natus unde delectus, sint reprehenderit sapiente dolorem error esse a quo accusamus? Pariatur minus natus dignissimos doloribus similique unde quae aliquid recusandae rerum ipsam doloremque, itaque, labore amet ab cumque earum exercitationem facere corporis veritatis aut obcaecati magni enim! Corporis totam, nemo nobis provident minus iure! Cupiditate, a? Aliquam iure numquam, perspiciatis officiis cumque alias nulla enim. Officia nobis corporis voluptatem. Porro voluptatem qui deleniti. Delectus perspiciatis porro quis unde voluptate accusantium nihil veniam voluptatem qui cum. Ipsum soluta expedita possimus beatae dolorem enim quisquam pariatur eos facilis eum, quasi quis fugiat sapiente officiis inventore fuga quas reiciendis saepe numquam atque! Cumque tempore libero similique dolor dicta exercitationem amet commodi quae omnis voluptate a, molestias sed quasi nobis possimus aperiam facere officiis numquam. Possimus eligendi, quis voluptate omnis soluta asperiores quaerat necessitatibus quisquam dolores suscipit aut fugiat! Doloremque corrupti nihil repellendus aliquid molestias earum itaque, cum consequuntur excepturi repudiandae necessitatibus, ea voluptatem animi doloribus dolorem neque? Deserunt recusandae maiores dignissimos ipsa perspiciatis, nostrum quibusdam at quam et illo exercitationem quae in nihil iste excepturi cumque eaque earum!
        </p>
      </div>
    </div>
  </div>
  
</div>

