@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="font-borel text-bold">@ViewData["Title"]</h1>


<div class="accordion" id="accordion-lorem300">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Checking out the `Butler` font on a text body
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-lorem300">
      <div class="accordion-body">
        <p>
            This is a lorem-300 text body.
            <hr>
            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, at ipsam. Suscipit, nisi corrupti. Voluptatem quo cumque autem! Iure itaque eius asperiores similique quisquam id voluptatum mollitia! Nam exercitationem eius cupiditate veritatis sunt, accusantium consequuntur ex, quam quis error consectetur, nisi enim consequatur nobis? Officiis eaque aut quisquam neque, odit id consequuntur officia porro autem dolor nemo. Delectus voluptas explicabo soluta, deserunt mollitia corporis corrupti voluptate itaque. In nobis aliquid repellat ad voluptatum quia eveniet quis dolorem repellendus. 
            </p>
            
            <p>
            Molestiae possimus enim, vel, dolore aliquid dolores quos suscipit corrupti saepe libero accusantium impedit voluptatum consequatur in hic autem corporis iusto, facilis non reprehenderit! Commodi, cum! Unde doloribus aliquid consequuntur qui reprehenderit est veritatis ducimus dolorem similique nostrum possimus, dolores deleniti exercitationem provident, assumenda, cum ad et? Optio eius saepe, molestias incidunt distinctio temporibus vel rerum accusantium tempore molestiae id quod corrupti odio dolor officiis reiciendis itaque. Sint, quasi. Placeat alias dolore autem, quasi iusto iure, deserunt praesentium repellat quos, minima voluptas?
            </p>
            
            <p>
             Sit sed consequatur delectus optio tempore molestias perspiciatis provident enim! Quasi, temporibus labore. Ab dolore voluptatum eos, delectus iste voluptas cumque impedit error? Quae provident possimus doloribus, beatae sunt consectetur tempore tenetur id porro, reprehenderit optio tempora cumque et vitae explicabo temporibus, praesentium repellat exercitationem. Sequi assumenda nihil maiores et. Ipsum tenetur voluptate, magni aliquid laudantium aut minima eum porro ratione maiores iusto? Quibusdam possimus esse tempora eum id, ex consequuntur dicta, sequi reiciendis ipsum eaque aspernatur perferendis doloribus autem. 
             </p>
             
             <p>
             Cupiditate ratione ipsum nisi ducimus dolorum possimus eligendi ad reprehenderit, architecto aut harum reiciendis dolores voluptatum magnam quibusdam quas impedit. Vero at qui id quam? Animi tenetur fugit incidunt explicabo quas ex sapiente, quos, recusandae cum perferendis similique ut suscipit quae et, ducimus at impedit itaque illum architecto. Obcaecati unde labore voluptatum harum quisquam reiciendis dolore totam officiis quod magnam.
             <p>
        </p>
      </div>
    </div>
  </div>
  
</div>
<br>
<hr>
<p>welp... nothing else going on here.</p>
